GIE0EJ_1020/SaxGIE0EJ/macskakGIE0EJ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/macskakGIE0EJ" elementFormDefault="qualified">
	<xs:element name="macskak">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="macska" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nev" type="xs:string"/>
							<xs:element name="kor" type="xs:positiveInteger" />
							<xs:element name="fajta" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>