GIE0EJ_0928/TJ_orarend.dtd

<!DOCTYPE orarend
[
        <!ELEMENT ora (targy, idopont, idopont+, helyszin, oktato, szak)>
        <!ATTLIST ora id ID #REQUIRED>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap, tol, ig)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
]>